[submodule "dx-runtime"]
	path = dx-runtime
	url = ../dx-runtime.git
	ignore = dirty
[submodule "dx-compiler"]
	path = dx-compiler
	url = ../dx-compiler.git
	ignore = dirty
[submodule "dx-modelzoo"]
	path = dx-modelzoo
	url = ../dx-modelzoo.git
	ignore = dirty
[submodule "dx-k8s-device-plugin"]
	path = dx-k8s-device-plugin
	url = ../dx-k8s-device-plugin.git
	branch = main
	ignore = dirty
