services:
  dx-compiler:
    container_name: dx-compiler-${BASE_IMAGE_NAME}-${OS_VERSION}
    image: dx-compiler:${BASE_IMAGE_NAME}-${OS_VERSION}
    build:
      context: ..
      dockerfile: docker/Dockerfile.dx-compiler
      args:
        BASE_IMAGE_NAME: ${BASE_IMAGE_NAME:-ubuntu}
        OS_VERSION: ${OS_VERSION}
        FILE_DXCOM: ${FILE_DXCOM:-/should/be/set/path}
        FILE_DXTRON: ${FILE_DXTRON:-/should/be/set/path}
        HOST_UID: ${HOST_UID:-1000}
        HOST_GID: ${HOST_GID:-1000}
        TARGET_USER: ${TARGET_USER:-deepx}
        TARGET_HOME: ${TARGET_HOME:-/deepx}
    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=${DISPLAY}                    # X11 forwarding
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}    # X11
      - XAUTHORITY=/tmp/.docker.xauth         # X11
      - DOCKER_VOLUME_PATH=${DOCKER_VOLUME_PATH:-/deepx/workspace} # volume path
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/${HOST_UID:-1000}/bus # fuse (for DX-Tron)
    cap_add:                                  # fuse (for DX-Tron)
      - SYS_ADMIN
    security_opt:                             # fuse (for DX-Tron)
      - apparmor:unconfined
    volumes:
      - /run/user/1000/bus:/run/user/1000/bus # fuse (for DX-Tron)
      - /dev:/dev                             # fuse (for DX-Tron)
      - /etc/machine-id:/etc/machine-id:ro    # fuse (for DX-Tron)
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket # fuse (for DX-Tron)
      - /run/dbus:/run/dbus                   # fuse (for DX-Tron)
      - /var/lib/dbus:/var/lib/dbus           # fuse (for DX-Tron)
      - /tmp/.X11-unix:/tmp/.X11-unix         # X11
      - $HOME/.Xauthority:/root/.Xauthority   # X11
      - $XAUTHORITY:$XAUTHORITY_TARGET        # X11
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${LOCAL_VOLUME_PATH:-../workspace}:${DOCKER_VOLUME_PATH:-/deepx/workspace} # mount volume
    network_mode: "host"
    privileged: true                          # fuse (for DX-Tron)
    restart: on-failure
    devices:
      - "/dev/dri:/dev/dri"                   # GPU    

  dx-runtime:
    container_name: dx-runtime-${BASE_IMAGE_NAME}-${OS_VERSION}
    image: dx-runtime:${BASE_IMAGE_NAME}-${OS_VERSION}
    build:
      context: ..
      dockerfile: docker/Dockerfile.dx-runtime
      args:
        BASE_IMAGE_NAME: ${BASE_IMAGE_NAME:-ubuntu}
        OS_VERSION: ${OS_VERSION}
    ipc: host                                 # NPU ipc
    pid: host                                 # pid sharing for DX-RT Service
    tty: true                                 # NPU
    stdin_open: true
    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=${DISPLAY}                    # X11 forwarding
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}    # X11
      - XAUTHORITY=/tmp/.docker.xauth         # X11
      - DOCKER_VOLUME_PATH=${DOCKER_VOLUME_PATH:-/deepx/workspace} # volume path
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix         # X11
      - $HOME/.Xauthority:/root/.Xauthority   # X11
      - $XAUTHORITY:$XAUTHORITY_TARGET        # X11
      - /dev:/dev                             # NPU, Camera, GPU
      - /lib/udev/rules.d:/lib/udev/rules.d   # auto detect device(USB CAM)
      - /lib/modules:/lib/modules             # GPU
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/machine-id:/etc/machine-id:ro    # NPU dbus
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket # NPU dbus
      - /run/dbus:/run/dbus                   # NPU dbus
      - /var/lib/dbus:/var/lib/dbus           # NPU dbus
      - ${LOCAL_VOLUME_PATH:-../workspace}:${DOCKER_VOLUME_PATH:-/deepx/workspace} # mount volume
      - /var/run/docker.sock:/var/run/docker.sock   # execute dx_com in dx-compiler container via docker CLI
    network_mode: "host"
    privileged: true                          # NPU
    restart: on-failure
    devices:
      - "/dev:/dev"                           # NPU / GPU / USB CAM
    # **********************************************************************************
    # dxrtd (DX-RT Service) should only run in one place among the host or containers.
    # (By default, the dxrtd service runs within the dx-runtime container)
    # If you want to run the dxrtd service in a different container or host,
    # uncomment the 'entrypoint' and 'command' lines below.
    # for more details, please refer to the [FAQ section of the dx-all-suite documentation](https://github.com/DEEPX-AI/dx-all-suite/blob/main/docs/source/faq.md)."
    # **********************************************************************************
    # entrypoint: ["/bin/sh", "-c"]
    # command: ["sleep infinity"]

  dx-modelzoo:
    container_name: dx-modelzoo-${BASE_IMAGE_NAME}-${OS_VERSION}
    image: dx-modelzoo:${BASE_IMAGE_NAME}-${OS_VERSION}
    build:
      context: ..
      dockerfile: docker/Dockerfile.dx-modelzoo
      args:
        BASE_IMAGE_NAME: ${BASE_IMAGE_NAME:-ubuntu}
        OS_VERSION: ${OS_VERSION}
    ipc: host                                 # NPU ipc
    pid: host                                 # pid sharing for DX-RT Service
    tty: true                                 # NPU
    stdin_open: true
    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=${DISPLAY}                    # X11 forwarding
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}    # X11
      - XAUTHORITY=/tmp/.docker.xauth         # X11
      - DOCKER_VOLUME_PATH=${DOCKER_VOLUME_PATH:-/deepx/workspace} # volume path
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix         # X11
      - $HOME/.Xauthority:/root/.Xauthority   # X11
      - $XAUTHORITY:$XAUTHORITY_TARGET        # X11
      - /dev:/dev                             # NPU, Camera, GPU
      - /lib/udev/rules.d:/lib/udev/rules.d   # auto detect device(USB CAM)
      - /lib/modules:/lib/modules             # GPU
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/machine-id:/etc/machine-id:ro    # NPU dbus
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket # NPU dbus
      - /run/dbus:/run/dbus                   # NPU dbus
      - /var/lib/dbus:/var/lib/dbus           # NPU dbus
      - ${LOCAL_VOLUME_PATH:-../workspace}:${DOCKER_VOLUME_PATH:-/deepx/workspace} # mount volume
      - /var/run/docker.sock:/var/run/docker.sock   # execute dx_com in dx-compiler container via docker CLI
    network_mode: "host"
    privileged: true                          # NPU
    restart: on-failure
    devices:
      - "/dev:/dev"                           # NPU / GPU / USB CAM
    # **********************************************************************************
    # override 'entrypoint' command "/usr/local/bin/dxrtd" to "/bin/sh -c sleep infinity"
    # cause: Instead of launching the standalone dxrtd (DX-RT Service), 
    #        utilize the dxrtd service provided within the dx-runtime container.
    # for more details, please refer to the [FAQ section of the dx-all-suite documentation](https://github.com/DEEPX-AI/dx-all-suite/blob/main/docs/source/faq.md).
    # **********************************************************************************
    entrypoint: ["/bin/sh", "-c"]
    command: ["sleep infinity"]
